/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */

html, body, p, ol, ul, li, dl, dt, dd, hr, h1, h2, h3, h4, h5, h6,
blockquote, figure, fieldset, legend, textarea, pre, iframe {
  margin: 0; padding: 0;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

/* is there a cleaner way to do this? */
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; 
  font-weight: normal;
}

hr {
  border: 0;
  height: 1px;
  background: rgba(55,55,55,.3);
  margin: 1rem 0;
}

ul {
  list-style: none;
}

img, embed, iframe, object, audio, video {
  height: auto; max-width: 100%;
}

table {
  border-collapse: collapse; border-spacing: 0; width: 100%;
}

td, th {
  padding: 0; text-align: left;
}

/* SIB one letter replacements for div and span */
s { /* span */
  text-decoration: none;
}

i { /* icon */
	display: inline-flex; 
}

b { /* div */
  display: block;
  font-weight: normal;
}
